<a href="http://www.google.com">click here for google</a>


<ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link" href="/methodology">Methodology</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/analysis">Explore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Resources on MBTI</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
    </ul>
