<!doctype html>

<html>

<head>
	<title> Myers briggs personality prediction | Methodology </title>
	<!-- External CSS file -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!-- Our own css files -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
	<!-- Bootstrap CDN -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</head>

<body>
	<!-- This is the nav bar. Paste on every page at the top of the body-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">MBTI | PREDICTOR</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/" style="font-size:1vw">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/explore" style="font-size:1vw">Explore</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/methodology" style="font-size:1vw">Methodology</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/documentation" style="font-size:1vw">Documentation</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about" style="font-size:1vw">About</a>
				</li>
			</ul>
		</div>
	</nav>


	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Methodology</h1>
			<p class="lead">
				This was a long and arduous process. Finding meaningful datapoints, exploring different models and
				realizing predicting everything in a single model doesn't work. Then splitting up the attributes and
				continuing the process times 4.
				The end result is 4 models, each to predict 1 attribute of the Myers-Briggs personality type and combine
				them later.
			</p>
		</div>
	</div>

	<!-- Accordion section -->
	<section>
		<div class="container">

			<!--Accordion wrapper-->
			<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

				<!-- Accordion card -->
				<div class="card">
					<!-- Card header -->
					<div class="card-header" role="tab" id="headingOne1">
						<a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
							aria-controls="collapseOne1">
							<h5 class="mb-0">
								Purpose <i class="fas fa-angle-down rotate-icon"></i>
							</h5>
						</a>
					</div>
					<!-- Card body -->
					<div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
						data-parent="#accordionEx">
						<div class="card-body">
							<p>The purpose of this project is to apply natural language processing and machine learning
								classification algorithms to examine if a person’s MBTI traits correlates with his/her
								style of writing on the forums. </p>
						</div>
					</div>
				</div>

				<!-- Accordion card -->
				<div class="card">
					<!-- Card header -->
					<div class="card-header" role="tab" id="headingTwo2">
						<a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
							aria-expanded="false" aria-controls="collapseTwo2">
							<h5 class="mb-0">
								Data Source <i class="fas fa-angle-down rotate-icon"></i>
							</h5>
						</a>
					</div>
					<!-- Card body -->
					<div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
						data-parent="#accordionEx">
						<div class="card-body">
							<p>The publicly available Myers Briggs personality type dataset on Kaggle was used for this
								project. This dataset contains over 8675 rows of data. On each row is a person’s:</p>
							<ul>
								<li>Type (4 letter MBTI code/personality type)</li>
								<li>A section of each of the last 50 things they have posted (Each entry separated by
									"|||" (3 pipe characters))</li>
							</ul>
						</div>
					</div>

					<!-- Accordion card -->
					<div class="card">
						<!-- Card header -->
						<div class="card-header" role="tab" id="headingThree3">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
								href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
								<h5 class="mb-0">
									Class Imbalance <i class="fas fa-angle-down rotate-icon"></i>
								</h5>
							</a>
						</div>
						<!-- Card body -->
						<div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
							data-parent="#accordionEx">
							<div class="card-body">
								<p>To examine the proportionality of each of the sixteen personality types, Matplotlib
									was used to plot the value counts of each of these sixteen types. The figure shows
									that there was high class imbalance in the dataset.</p>
								<img src="../static/images/type_hist.png" width="500">
								<p>To handle the class imbalance issue, the following two steps were taken:</p>
								<ol>
									<li>First step was to divide the single “type” feature into four features:</li>
									<ul>
										<li>Extroversion vs. Introversion</li>
										<ul>
											<li>I - 0</li>
											<li>E - 1</li>
										</ul>
										<li>Sensing vs. Intuition</li>
										<ul>
											<li>N - 0</li>
											<li>S - 1</li>
										</ul>
										<li>Thinking vs. Feeling</li>
										<ul>
											<li>F - 0</li>
											<li>T - 1</li>
										</ul>
										<li>Judging vs. Perceiving</li>
										<ul>
											<li>P - 0</li>
											<li>J - 1</li>
										</ul>
									</ul>
									<img src="../static/images/class_imbalance_2.png" width="500">
									<li>The second step was to use random under sampling technique when building machine
										learning model. This is covered in step 6.</li>
								</ol>
							</div>
						</div>


						<!-- Accordion card -->
						<!-- Card header -->
						<div class="card-header" role="tab" id="headingFive5">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFive5"
								aria-expanded="false" aria-controls="collapseFive5">
								<h5 class="mb-0">
									Feature Engineering <i class="fas fa-angle-down rotate-icon"></i>
								</h5>
							</a>
						</div>
						<!-- Card body -->
						<div id="collapseFive5" class="collapse" role="tabpanel" aria-labelledby="headingFive5"
							data-parent="#accordionEx">
							<div class="card-body">
								<h5> Word-level Term Frequency (TF)</h5>
								<p>
									Word-level TF measures the frequency of each word in a post. It provides insights
									into the importance of words within individual posts.
								</p>
								<p>
									<strong>Library Used:</strong> scikit-learn's CountVectorizer
								</p>

								<h5>Word-level Term Frequency-Inverse Document Frequency (TFIDF)</h5>
								<p>
									TFIDF balances the importance of words not only within a post but also across all
									posts. It considers the rarity of words in the entire dataset.
								</p>
								<p>
									<strong>Library Used:</strong> scikit-learn's TfidfVectorizer
								</p>

								<h5>Emotion Extraction</h5>
								<p>
									Emotion extraction involves analyzing posts to identify emotions expressed, such as
									joy, surprise, anticipation, disgust, anger, sadness, fear, trust, confidence, and
									positivity.
								</p>
								<p>
									<strong>Library Used:</strong> NRCLex (Natural Language Toolkit)
								</p>

								<h5>Sentiment Extraction</h5>
								<p>
									Sentiment extraction focuses on determining the sentiment expressed in posts,
									distinguishing between positive, negative, and neutral sentiments.
								</p>
								<p>
									<strong>Library Used:</strong> NLTK vader
								</p>
							</div>
						</div>

						<!-- Accordion card -->
						<!-- Card header -->
						<div class="card-header" role="tab" id="headingSix6">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseSix6"
								aria-expanded="false" aria-controls="collapseSix6">
								<h5 class="mb-0">
									Machine Learning Models <i class="fas fa-angle-down rotate-icon"></i>
								</h5>
							</a>
						</div>
						<style>
							img {
								max-width: 100%;
								height: auto;
								display: block;
								margin: 0 auto;
							}
						</style>
						<!-- Card body -->
						<div id="collapseSix6" class="collapse" role="tabpanel" aria-labelledby="headingSix6"
							data-parent="#accordionEx">
							<div class="card-body">
								<p>
									In this final step, several classification models were applied to predict Myers-Briggs personality types based on the processed dataset.
								</p>
							
								<h5>Data Splitting</h5>
								<p>
									The dataset was split into X (input features) and y (target). X included clean posts, compound sentiment scores, pos tag counts, and other relevant features. Y was set to four target features: E (Extrovert), N (Intuition), T (Thinking), and J (Judging).
								</p>
							
								<h5>Imbalanced Data Handling</h5>
								<p>
									Since the data exhibited imbalance, an Imbalance Learn Pipeline was employed. The pipeline comprised the preprocessing step, SMOTE (Synthetic Minority Over-sampling Technique) to address class imbalance, and the RandomForestClassifier.
								</p>
							
								<h5>Classification Models</h5>
								<p>
									The following models were built, trained, and tested on the dataset:
									<ul>
										<li>Random Forest (RF)</li>
										<li>Support Vector Machine (SVM)</li>
										<li>Logistic Regression (LR)</li>
										<li>Decision Tree (DT)</li>
										<li>Gradient Boosting (GB)</li>
										<li>eXtreme Gradient Boosting (XGB)</li>
										<li>Light Gradient Boosting Machine (LGBM)</li>
										<li>CatBoost (CB)</li>
										<li>AdaBoost (AB)</li>
										<li>Bagging (B)</li>
										<li>Extra Tree (ET)</li>
									</ul>
								</p>
								<p>
									Following was the results obtained :
									<img  src="{{ url_for('static', filename='images/METRICS.PNG') }}" alt="Model Results">

								</p>
							
								<h5>Stacking Model</h5>
								<p>
									A stacking model was implemented using three base models: Gradient Boosting (GB), eXtreme Gradient Boosting (XGB), and Light Gradient Boosting Machine (LGBM). These three consistently outperformed in all metrics. For the meta-model, CatBoost (CB) was selected as it performed better compared to others.
								</p>
								<p>
									Following was the results obtained :
									<img src="{{ url_for('static', filename='images/STACK.PNG') }}" alt="Model Results">

								</p>

								
								<h5>Evaluation Metrics</h5
								<p>
									Evaluation metrics such as Accuracy , F1-Score , Precision , Recall and AUC were employed to assess the models and identify the best-performing one.
								</p>
							
								<h5>Final Model Selection</h5>
								<p>
									Based on the accuracy scores, the Stacking Model with SMOTE handling class imbalance was selected as the final model for predicting Myers-Briggs personality types.
								</p>
							</div>
						</div>



					</div>
					<!-- Accordion wrapper -->
				</div>
	</section>

	<hr>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<blockquote class="blockquote text-center">
					<p class="mb-0">“The human race is just a chemical scum on a moderate-sized planet,
						orbiting around a very average star in the outer suburb of one among a
						hundred billion galaxies. We are so insignificant that I can't believe the
						whole universe exists for our benefit. That would be like saying that you
						would disappear if I closed my eyes.”</p>
					<footer class="blockquote-footer">Stephen Hawking. <cite title="Source Title">Theoretical
							physicist</cite></footer>
				</blockquote>
			</div>
		</div>
	</div>
	<br>
	<hr>

	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>



</html>